<template>
  <v-dialog
    v-model="visible"
    persistent
    max-width="600px"
  >
    <v-form
      ref="form"
      v-model="valid"
      lazy-validation
    >
      <v-card>
        <v-card-title>
          <span class="text-h5">Registrar usuario</span>
        </v-card-title>
        <v-card-text>
          <v-row class="d-flex">
            <v-col>
              <v-text-field
                v-model="user.first_name"
                :rules="nameRule"
                label="Primer nombre"
                outlined
                dense
                required
              />
              <v-text-field
                v-model="user.other_names"
                label="Otros nombres"
                :rules="otherNamesRule"
                outlined
                dense
              />
              <v-text-field
                v-model="user.first_surname"
                label="Primer apellido"
                :rules="surnameRule"
                outlined
                dense
              />
              <v-text-field
                v-model="user.second_surname"
                label="Segundo apellido"
                :rules="surnameRule"
                outlined
                dense
              />
              <v-select
                v-model="user.country"
                :items="countries"
                label="Pais"
                outlined
                dense
                required
              />
              <v-select
                v-model="user.document_type"
                :items="documentTypes"
                label="Tipo de identificacion"
                outlined
                dense
                required
              />
              <v-text-field
                v-model="user.identification"
                label="Numero de identificacion"
                :rules="identificationRule"
                outlined
                dense
              />
              <v-select
                v-model="user.area"
                :items="areas"
                label="Area"
                outlined
                dense
                required
              />
              <v-menu
                v-model="menuDate"
                :close-on-content-click="false"
                :nudge-right="40"
                transition="scale-transition"
                offset-y
                min-width="auto"
              >
                <template v-slot:activator="{ on, attrs }">
                  <v-text-field
                    v-model="user.income_date"
                    label="Fecha de ingreso"
                    readonly
                    outlined
                    dense
                    v-bind="attrs"
                    v-on="on"
                  />
                </template>
                <v-date-picker
                  v-model="user.income_date"
                  :max="maxDate"
                  :min="minDate"
                  @input="menu2 = false"
                />
              </v-menu>
              <v-snackbar
                v-model="snackbar"
              >
                {{ textError }}
                <template v-slot:action="{ attrs }">
                  <v-btn
                    color="red"
                    text
                    v-bind="attrs"
                    @click="snackbar = false"
                  >
                    Close
                  </v-btn>
                </template>
              </v-snackbar>
            </v-col>
          </v-row>
        </v-card-text>
        <v-card-actions>
          <v-btn
            :loading="loading"
            color="success"
            @click="addUser()"
          >
            Guardar
          </v-btn>
          <v-btn
            @click="closeDialog()"
          >
            Cancelar
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-form>
  </v-dialog>
</template>

<script lang="ts">
import Vue from 'vue'
import { User } from '../models/user'
import { Area } from '../common/types/area'
import { Country } from '../common/types/country'
import { DocumentType } from '../common/types/documentType'
import {
  DocumentTypes,
  Areas,
  Countries
} from '../common/data/index'
import {
  NameRule,
  SurnameRule,
  IdentificationRule,
  OtherNamesRule
} from '../common/validators/index'

export default Vue.extend({
  name: 'CreateUser',
  props: {
    visible: {
      type: Boolean,
      default: false
    }
  },
  data () {
    return {
      loading: false as boolean,
      areas: Areas,
      domain: '@cidenet.com' as string,
      minDate: '' as string,
      maxDate: new Date(Date.now()).toISOString().slice(0, 10) as string,
      countries: Countries,
      documentTypes: DocumentTypes,
      menuDate: false as boolean,
      user: {
        income_date: new Date(Date.now()).toISOString().slice(0, 10)
      } as User,
      valid: true as boolean,
      nameRule: NameRule,
      surnameRule: SurnameRule,
      identificationRule: IdentificationRule,
      otherNamesRule: OtherNamesRule,
      menu1: false,
      menu2: false,
      textError: '' as string,
      snackbar: false
    }
  },
  computed: {
    form (): Vue & { validate: () => boolean, resetValidation: () => boolean } {
      return this.$refs.form as Vue & { validate: () => boolean, resetValidation: () => boolean }
    }
  },
  watch: {
    'user.first_name': function () {
      this.generateEmail()
    },
    'user.first_surname': function () {
      this.generateEmail()
    },
    'user.country': function () {
      this.generateEmail()
    }
  },
  created () {
    var auxDate = new Date(this.user.income_date)
    auxDate.setMonth(auxDate.getMonth() - 1)
    this.minDate = auxDate.toISOString().slice(0, 10)
    this.user = this.generateUser()
  },
  methods: {
    addUser () {
      if (!this.form.validate()) return
      this.loading = true
      this.$axios.post('/api/v1/users', { user: this.user }).then((response: { data: User }) => {
        this.user = response.data
        this.user.created_at = new Date().toISOString()
        this.$emit('add-user', this.user)
        this.closeDialog()
      }).catch((error: { response: { data: { message: string } } }) => {
        this.textError = error.response.data.message
        this.snackbar = true
        console.log('Error', error.response.data.message)
      }).finally(() => {
        this.loading = false
      })
    },
    closeDialog () {
      this.form.resetValidation()
      this.user = this.generateUser()
      this.$emit('close')
    },
    generateEmail () {
      const domain = `${this.domain}.${this.user.country === Country.Colombia ? 'co' : 'us'}`
      const firstSurname = this.user.first_surname.replace(/\s/g, '').toLowerCase()
      this.user.email = `${this.user.first_name.toLowerCase()}.${firstSurname}${domain}`
    },
    generateUser () :User {
      return {
        first_name: '',
        other_names: '',
        first_surname: '',
        second_surname: '',
        country: Country.Colombia,
        area: Area.Administration,
        status: 'Activo',
        document_type: DocumentType.CC,
        identification: '',
        email: '',
        income_date: new Date(Date.now()).toISOString().slice(0, 10)
      } as User
    },
    updateUser (user:User):void {
      console.log('USER', user)
    }
  }
})
</script>
