<template>
  <v-dialog
    v-model="visible"
    persistent
    max-width="600px"
  >
    <v-form
      ref="form"
      v-model="valid"
      lazy-validation
    >
      <v-card>
        <v-card-title>
          <span class="text-h5">Editar usuario</span>
        </v-card-title>
        <v-card-text>
          <v-row class="d-flex">
            <v-col>
              <p>Fecha de ingreso: <b>{{ user.income_date | formatDate }}</b></p>
              <v-text-field
                v-model="user.first_name"
                :rules="nameRule"
                label="Primer nombre"
                outlined
                dense
                required
              />
              <v-text-field
                v-model="user.other_names"
                label="Otros nombres"
                :rules="otherNamesRule"
                outlined
                dense
              />
              <v-text-field
                v-model="user.first_surname"
                label="Primer apellido"
                :rules="surnameRule"
                outlined
                dense
              />
              <v-text-field
                v-model="user.second_surname"
                label="Segundo apellido"
                :rules="surnameRule"
                outlined
                dense
              />
              <v-select
                v-model="user.country"
                :items="countries"
                label="Pais"
                outlined
                dense
                required
              />
              <v-select
                v-model="user.document_type"
                :items="documentTypes"
                label="Tipo de identificacion"
                outlined
                dense
                required
              />
              <v-text-field
                v-model="user.identification"
                label="Numero de identificacion"
                :rules="identificationRule"
                outlined
                dense
              />
              <v-select
                v-model="user.area"
                :items="areas"
                label="Area"
                outlined
                dense
                required
              />
              <v-snackbar
                v-model="snackbar"
              >
                {{ textError }}
                <template v-slot:action="{ attrs }">
                  <v-btn
                    color="red"
                    text
                    v-bind="attrs"
                    @click="snackbar = false"
                  >
                    Close
                  </v-btn>
                </template>
              </v-snackbar>
            </v-col>
          </v-row>
        </v-card-text>
        <v-card-actions>
          <v-btn
            :loading="loading"
            :disabled="disabled"
            color="success"
            @click="updateUser()"
          >
            Actualizar
          </v-btn>
          <v-btn
            @click="closeDialog()"
          >
            Cancelar
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-form>
  </v-dialog>
</template>

<script lang="ts">
import Vue from 'vue'
import { User } from '../models/user'
import { Country } from '../common/types/country'
import {
  DocumentTypes,
  Areas,
  Countries
} from '../common/data/index'
import {
  NameRule,
  SurnameRule,
  IdentificationRule,
  OtherNamesRule
} from '../common/validators/index'

export default Vue.extend({
  name: 'CreateUser',
  props: {
    visible: {
      type: Boolean,
      default: false
    },
    user: {
      type: Object as () => User,
      required: true
    }
  },
  data () {
    return {
      loading: false as boolean,
      disabled: true as boolean,
      areas: Areas,
      domain: '@cidenet.com' as string,
      countries: Countries,
      documentTypes: DocumentTypes,
      valid: true as boolean,
      nameRule: NameRule,
      surnameRule: SurnameRule,
      identificationRule: IdentificationRule,
      otherNamesRule: OtherNamesRule,
      textError: '' as string,
      snackbar: false
    }
  },
  computed: {
    form (): Vue & { validate: () => boolean, resetValidation: () => boolean } {
      return this.$refs.form as Vue & { validate: () => boolean, resetValidation: () => boolean }
    }
  },
  watch: {
    'user.first_name': function () {
      this.generateEmail()
    },
    'user.first_surname': function () {
      this.generateEmail()
    },
    'user.country': function () {
      this.generateEmail()
    },
    user: {
      handler () {
        this.disabled = false
      },
      deep: true
    }
  },
  methods: {
    updateUser () {
      if (!this.form.validate()) return
      this.loading = true
      const userToUpdate:User = JSON.parse(JSON.stringify(this.user))
      this.$delete(userToUpdate, 'income_date')
      this.$delete(userToUpdate, 'updated_at')
      this.$delete(userToUpdate, 'created_at')
      this.$axios.put('/api/v1/users', { user: userToUpdate }).then((response: { data: User }) => {
        this.user.created_at = new Date().toISOString()
        this.$emit('update-user', response.data)
        this.closeDialog()
      }).catch((error: { response: { data: { message: string } } }) => {
        this.textError = error.response.data.message
        this.snackbar = true
        console.log('Error', error.response.data.message)
      }).finally(() => {
        this.loading = false
      })
    },
    closeDialog () {
      this.disabled = true
      this.form.resetValidation()
      this.$emit('close')
    },
    generateEmail () {
      const domain = `${this.domain}.${this.user.country === Country.Colombia ? 'co' : 'us'}`
      const firstSurname = this.user.first_surname.replace(/\s/g, '').toLowerCase()
      this.user.email = `${this.user.first_name.toLowerCase()}.${firstSurname}${domain}`
    }
  }
})
</script>
