<template>
  <v-row>
    <v-col>
      <v-app-bar
        app
        color="primary"
      >
        <v-spacer />
        <v-toolbar-title class="white--text">
          CIDENET TEST
        </v-toolbar-title>
        <v-spacer />
        <v-btn
          color="success"
          class="ma-2 white--text"
          @click="showDialogCreateUser = true"
        >
          <v-icon
            left
            dark
          >
            mdi-plus
          </v-icon>
          Registrar empleado
        </v-btn>
      </v-app-bar>
      <v-card>
        <v-card-title>
          <v-text-field
            v-model="queryParams.first_name"
            label="Filtro por nombre"
            hide-details
            outlined
            dense
            required
          />
          <v-text-field
            v-model="queryParams.other_names"
            label="Filtro por otros nombres"
            class="ml-2"
            hide-details
            outlined
            dense
          />
          <v-text-field
            v-model="queryParams.first_surname"
            label="Filtro por primer apellido"
            class="ml-2"
            hide-details
            outlined
            dense
          />
          <v-text-field
            v-model="queryParams.second_surname"
            label="Filtro por segundo apellido"
            class="ml-2"
            hide-details
            outlined
            dense
          />
          <v-select
            v-model="queryParams.country"
            :items="countries"
            class="ml-2"
            label="Filtro por pais"
            hide-details
            outlined
            dense
          />
          <v-btn
            color="success"
            class="ml-2 white--text"
            @click="getUsers()"
          >
            Buscar
          </v-btn>
          <v-btn
            class="ml-2"
            @click="clearFilters()"
          >
            Limpiar filtros
          </v-btn>
        </v-card-title>
        <v-card-text>
          <hr>
          <v-data-table
            :headers="headers"
            :items="users"
            :items-per-page="queryParams.limit"
            :loading="loading"
            :page="queryParams.page"
            :server-items-length="count"
            @update:items-per-page="onChangeLimit"
            @update:page="onChangePage"
          >
            <template #[`item.name`]="{ item }">
              <v-avatar
                class="d-inline-flex mr-2"
                :color="'hsl(' + 2 *Math.random()*360 + ', 90%, 80%)'"
                rounded
                size="30"
              >
                {{ item.first_name.charAt(0).toUpperCase() }}
              </v-avatar>
              {{ item | showFullName }}
            </template>
            <template #[`item.income_date`]="{ item }">
              {{ item.income_date | formatDate }}
            </template>
            <template #[`item.created_at`]="{ item }">
              {{ item.created_at | formatDateTime }}
            </template>
            <template #[`item.updated_at`]="{ item }">
              {{ item.updated_at | formatDateTime }}
            </template>
            <template #[`item.actions`]="{ item }">
              <v-tooltip bottom>
                <template v-slot:activator="{ on, attrs }">
                  <v-icon
                    small
                    class="mr-2"
                    v-bind="attrs"
                    v-on="on"
                    @click="openDialogUpdate(item)"
                  >
                    mdi-pencil
                  </v-icon>
                </template>
                <span>Editar</span>
              </v-tooltip>
              <v-tooltip bottom>
                <template v-slot:activator="{ on, attrs }">
                  <v-icon
                    small
                    color="red"
                    v-bind="attrs"
                    v-on="on"
                    @click="openDialogConfirmDelete(item)"
                  >
                    mdi-delete
                  </v-icon>
                </template>
                <span>Eliminar</span>
              </v-tooltip>
            </template>
          </v-data-table>
          <create-user
            :visible="showDialogCreateUser"
            @close="closeDialog()"
            @add-user="addUser"
          />
          <update-user
            v-if="userToUpdate.income_date"
            :user="userToUpdate"
            :visible="showDialogUpdateUser"
            @close="closeDialogUpdate()"
            @update-user="updateUser"
          />
          <v-dialog
            v-model="showDialogDeleteUser"
            persistent
            max-width="500"
          >
            <v-card>
              <v-card-title class="text-h5">
                ¿Estas seguro que deseas eliminar este usuario?
              </v-card-title>
              <v-card-text>{{ userToDelete | showFullName }}</v-card-text>
              <v-card-actions>
                <v-spacer />
                <v-btn
                  @click="showDialogDeleteUser = false"
                >
                  No
                </v-btn>
                <v-btn
                  color="red"
                  @click="deleteUser()"
                >
                  Si
                </v-btn>
              </v-card-actions>
            </v-card>
          </v-dialog>
        </v-card-text>
      </v-card>
    </v-col>
  </v-row>
</template>

<script lang="ts">
import Vue from 'vue'
import CreateUser from '../components/CreateUser.vue'
import UpdateUser from '../components/UpdateUser.vue'
import { User } from '../models/user'
import { HeaderTable, Countries } from '../common/data/index'
export default Vue.extend({
  name: 'Home',
  components: {
    CreateUser,
    UpdateUser
  },
  data () {
    return {
      userToUpdate: {} as User,
      showDialogCreateUser: false as boolean,
      showDialogUpdateUser: false as boolean,
      showDialogDeleteUser: false as boolean,
      loading: false as boolean,
      users: [] as User[],
      showDialog: false as boolean,
      headers: HeaderTable,
      queryParams: {
        page: 1 as number,
        limit: 10 as number,
        first_name: '' as string,
        other_names: '' as string,
        first_surname: '' as string,
        second_surname: '' as string,
        country: '' as string
      },
      count: 0,
      countries: Countries,
      userToDelete: {} as User
    }
  },
  created () {
    this.getUsers()
  },
  methods: {
    addUser () {
      this.getUsers()
    },
    clearFilters ():void {
      this.queryParams.first_name = ''
      this.queryParams.other_names = ''
      this.queryParams.first_surname = ''
      this.queryParams.second_surname = ''
      this.queryParams.country = ''
    },
    closeDialog () :void {
      this.showDialogCreateUser = false
    },
    closeDialogUpdate () :void {
      this.showDialogUpdateUser = false
    },
    deleteUser () :void {
      this.showDialogDeleteUser = false
      this.loading = true
      this.$axios.delete(`/api/v1/users/${this.userToDelete.id}`).then(() => {
        this.getUsers()
      }).catch(() => {
        console.log('Ha ocurrido un error!')
      }).finally(() => {
        this.loading = false
      })
    },
    generateStringQuery ():string {
      let stringQuery = `limit=${this.queryParams.limit}`
      stringQuery += `&page=${this.queryParams.page}`
      stringQuery += `&first_name=${this.queryParams.first_name}`
      stringQuery += `&other_names=${this.queryParams.other_names}`
      stringQuery += `&first_surname=${this.queryParams.first_surname}`
      stringQuery += `&second_surname=${this.queryParams.second_surname}`
      stringQuery += `&country=${this.queryParams.country}`
      return stringQuery
    },
    getUsers (): void {
      this.loading = true
      this.$axios.get(`/api/v1/users?${this.generateStringQuery()}`).then((response: { data: { rows: User[]; count: number } }) => {
        this.users = response.data.rows
        this.count = response.data.count
      }).catch(() => {
        console.log('Ha ocurrido un error!')
      }).finally(() => {
        this.loading = false
      })
    },
    onChangeLimit (limit :number) :void {
      console.log('onChangePage ~ page', limit)
      this.queryParams.limit = limit
      this.getUsers()
    },
    onChangePage (page :number) :void {
      this.queryParams.page = page
      this.getUsers()
    },
    openDialogConfirmDelete (user:User):void {
      this.userToDelete = user
      this.showDialogDeleteUser = true
    },
    openDialogUpdate (user:User):void {
      this.userToUpdate = JSON.parse(JSON.stringify(user))
      this.showDialogUpdateUser = true
    },
    updateUser (userToUpdate:User):void {
      console.log('userToUpdate', userToUpdate)
      const index = this.users.findIndex((user:User) => user.id === userToUpdate.id)
      console.log('INDEX', index)
      Object.assign(this.users[index], userToUpdate)
    }
  }
})
</script>
